---
---
<!DOCTYPE html>
<html lang="en">
    <title>The yEAh Games Player: Play games online, for free</title>

{% include head.html %}

{% include body1.html %}
            <main class="page-main">
                <center></center>
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-3-3@l uk-width-3-3@m uk-width-3-3@s">
                        <div class="js-recommend">
                            <!--<div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="recommend-slide">
                                                <a href=""><img src="//cdn.balls" alt="banner"></a>

                                        </div>
                                    </div>


                                    <div class="swiper-slide">
                                        <div class="recommend-slide">
                                            <div class="tour-slide__box">
                                                <a href=""><img src="assets/img/t2.jpg" alt="banner"></a>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="swiper-slide">
                                        <div class="recommend-slide">
                                            <div class="tour-slide__box">
                                                <a href=""><img src="assets/img/t1.jpg" alt="banner"></a>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="swiper-slide">
                                        <div class="recommend-slide">
                                            <div class="tour-slide__box">
                                                <a href=""><img src="assets/img/t2.jpg" alt="banner"></a>


                                            </div>
                                        </div>
                                    </div>







                                </div>
                                <div class="swipper-nav">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>-->

                    <div class="uk-width-1-1">
                        <div class="js-popular">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    {% for post in site.posts %}<div class="swiper-slide">
                                        <div class="game-card">
                                            <div class="game-card__box">
                                                <div class="game-card__media"><a href="{{post.permalink}}"><img src="{{post.permalink|replace:'play', 'files'|replace:'details', 'image.png'}}" alt="Featured image: {{post.title}}" title="Featured image" /></a></div>
                                                <div class="game-card__info"><a class="game-card__title" href="{{post.permalink}}">{{post.title}}</a>
                                                    <div class="game-card__genre">{{post.publisher}}</div>
                                                    <div class="game-card__bottom">
                                                        <div class="game-card__platform"><a href="/sort/type/flash"><font color="#fff"><font color=" #039487"><i class="fa fa-check-circle" title="Uploaded by yEAh Games staff."></i></font>&#160;&#160;<font color="#FDD023"><i title="Archived Adobe Flash (SWF, FLA) game. Runnable via our emulator, or, if you have Flash installed, natively."class="fa-solid fa-bolt"></i></font></i>&nbsp;&nbsp;<font color="#357EC7 "><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font>&#160;&#160;<i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a></div>
                                                        <div class="game-card__users">
                                                            
                                                        </div>
                                                    <div class="game-card__rating-and-price">
                                                        <div class="game-card__price" style="float:right!important"><a href="./games/gothitas-portrait-panic/play/details"><button  style="width:30px!important;height:35px!important;background-color:#5e9c00" title="Play it now for free!" class="uk-button uk-button-primary uk-width-2-2"><i class="fa-solid fa-circle-play"></i></button></a></div>
                                                    </div>
                                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>{% endfor %}
                                    
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="js-popular">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <!--<div class="swiper-slide">
                                        <div class="game-card">
                                            <div class="game-card__box">
                                                <div class="game-card__media"><a href="./games/gothitas-portrait-panic/play/details"><img src="./games/gothitas-portrait-panic/files/image.png" alt="Featured image: Gothita's Portrait Panic" title="Featured image" /></a></div>
                                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">Gothita's Portrait Panic</a>
                                                    <div class="game-card__genre">The Pokémon Company</div>
                                                    <div class="game-card__bottom">
                                                        <div class="game-card__platform"><a href="/sort/type/flash"><font color="#fff"><font color=" #039487"><i class="fa fa-check-circle" title="Uploaded by yEAh Games staff."></i></font>&#160;&#160;<font color="#FDD023"><i title="Archived Adobe Flash (SWF, FLA) game. Runnable via our emulator, or, if you have Flash installed, natively."class="fa-solid fa-bolt"></i></font></i>&nbsp;&nbsp;<font color="#357EC7 "><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font>&#160;&#160;<i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a></div>
                                                        <div class="game-card__users">
                                                            
                                                        </div>
                                                    <div class="game-card__rating-and-price">
                                                        <div class="game-card__price" style="float:right!important"><a href="./games/gothitas-portrait-panic/play/details"><button  style="width:30px!important;height:35px!important;background-color:#5e9c00" title="Play it now for free!" class="uk-button uk-button-primary uk-width-2-2"><i class="fa-solid fa-circle-play"></i></button></a></div>
                                                    </div>
                                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <div class="swiper-slide">
                                        <div class="game-card">
                                            <div class="game-card__box">
                                                <div class="game-card__media"><a href="./games/gothitas-portrait-panic/play/details"><img src="./games/gothitas-portrait-panic/files/image.png" alt="Featured image: Gothita's Portrait Panic" title="Featured image" /></a></div>
                                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">Gothita's Portrait Panic</a>
                                                    <div class="game-card__genre">The Pokémon Company</div>
                                                    <div class="game-card__bottom">
                                                        <div class="game-card__platform"><a href="/sort/type/flash"><font color="#fff"><font color=" #039487"><i class="fa fa-check-circle" title="Uploaded by yEAh Games staff."></i></font>&#160;&#160;<font color="#FDD023"><i title="Archived Adobe Flash (SWF, FLA) game. Runnable via our emulator, or, if you have Flash installed, natively."class="fa-solid fa-bolt"></i></font></i>&nbsp;&nbsp;<font color="#357EC7 "><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font>&#160;&#160;<i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a></div>
                                                        <div class="game-card__users">
                                                            
                                                        </div>
                                                    <div class="game-card__rating-and-price">
                                                        <div class="game-card__price" style="float:right!important"><a href="./games/gothitas-portrait-panic/play/details"><button  style="width:30px!important;height:35px!important;background-color:#5e9c00" title="Play it now for free!" class="uk-button uk-button-primary uk-width-2-2"><i class="fa-solid fa-circle-play"></i></button></a></div>
                                                    </div>
                                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <div class="swiper-slide">
                                        <div class="game-card">
                                            <div class="game-card__box">
                                                <div class="game-card__media"><a href="./games/gothitas-portrait-panic/play/details"><img src="./games/gothitas-portrait-panic/files/image.png" alt="Featured image: Gothita's Portrait Panic" title="Featured image" /></a></div>
                                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">Gothita's Portrait Panic</a>
                                                    <div class="game-card__genre">The Pokémon Company</div>
                                                    <div class="game-card__bottom">
                                                        <div class="game-card__platform"><a href="/sort/type/flash"><font color="#fff"><font color=" #039487"><i class="fa fa-check-circle" title="Uploaded by yEAh Games staff."></i></font>&#160;&#160;<font color="#FDD023"><i title="Archived Adobe Flash (SWF, FLA) game. Runnable via our emulator, or, if you have Flash installed, natively."class="fa-solid fa-bolt"></i></font></i>&nbsp;&nbsp;<font color="#357EC7 "><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font>&#160;&#160;<i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a></div>
                                                        <div class="game-card__users">
                                                            
                                                        </div>
                                                    <div class="game-card__rating-and-price">
                                                        <div class="game-card__price" style="float:right!important"><a href="./games/gothitas-portrait-panic/play/details"><button  style="width:30px!important;height:35px!important;background-color:#5e9c00" title="Play it now for free!" class="uk-button uk-button-primary uk-width-2-2"><i class="fa-solid fa-circle-play"></i></button></a></div>
                                                    </div>
                                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="swiper-slide">
                                        <div class="game-card">
                                            <div class="game-card__box">
                                                <div class="game-card__media"><a href="./games/gothitas-portrait-panic/play/details"><img src="./games/gothitas-portrait-panic/files/image.png" alt="Featured image: Gothita's Portrait Panic" title="Featured image" /></a></div>
                                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">Gothita's Portrait Panic</a>
                                                    <div class="game-card__genre">The Pokémon Company</div>
                                                    <div class="game-card__bottom">
                                                        <div class="game-card__platform"><a href="/sort/type/flash"><font color="#fff"><font color=" #039487"><i class="fa fa-check-circle" title="Uploaded by yEAh Games staff."></i></font>&#160;&#160;<font color="#FDD023"><i title="Archived Adobe Flash (SWF, FLA) game. Runnable via our emulator, or, if you have Flash installed, natively."class="fa-solid fa-bolt"></i></font></i>&nbsp;&nbsp;<font color="#357EC7 "><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font>&#160;&#160;<i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a></div>
                                                        <div class="game-card__users">
                                                            
                                                        </div>
                                                    <div class="game-card__rating-and-price">
                                                        <div class="game-card__price" style="float:right!important"><a href="./games/gothitas-portrait-panic/play/details"><button  style="width:30px!important;height:35px!important;background-color:#5e9c00" title="Play it now for free!" class="uk-button uk-button-primary uk-width-2-2"><i class="fa-solid fa-circle-play"></i></button></a></div>
                                                    </div>
                                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="game-card">
                                            <div class="game-card__box">
                                                <div class="game-card__media"><a href="./games/gothitas-portrait-panic/play/details"><img src="./games/gothitas-portrait-panic/files/image.png" alt="Featured image: Gothita's Portrait Panic" title="Featured image" /></a></div>
                                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">Gothita's Portrait Panic</a>
                                                    <div class="game-card__genre">The Pokémon Company</div>
                                                    <div class="game-card__bottom">
                                                        <div class="game-card__platform"><a href="/sort/type/flash"><font color="#fff"><font color=" #039487"><i class="fa fa-check-circle" title="Uploaded by yEAh Games staff."></i></font>&#160;&#160;<font color="#FDD023"><i title="Archived Adobe Flash (SWF, FLA) game. Runnable via our emulator, or, if you have Flash installed, natively."class="fa-solid fa-bolt"></i></font></i>&nbsp;&nbsp;<font color="#357EC7 "><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font>&#160;&#160;<i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a></div>
                                                        <div class="game-card__users">
                                                            
                                                        </div>
                                                    <div class="game-card__rating-and-price">
                                                        <div class="game-card__price" style="float:right!important"><a href="./games/gothitas-portrait-panic/play/details"><button  style="width:30px!important;height:35px!important;background-color:#5e9c00" title="Play it now for free!" class="uk-button uk-button-primary uk-width-2-2"><i class="fa-solid fa-circle-play"></i></button></a></div>
                                                    </div>
                                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="game-card">
                                            <div class="game-card__box">
                                                <div class="game-card__media"><a href="./games/gothitas-portrait-panic/play/details"><img src="./games/gothitas-portrait-panic/files/image.png" alt="Featured image: Gothita's Portrait Panic" title="Featured image" /></a></div>
                                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">Gothita's Portrait Panic</a>
                                                    <div class="game-card__genre">The Pokémon Company</div>
                                                    <div class="game-card__bottom">
                                                        <div class="game-card__platform"><a href="/sort/type/flash"><font color="#fff"><font color=" #039487"><i class="fa fa-check-circle" title="Uploaded by yEAh Games staff."></i></font>&#160;&#160;<font color="#FDD023"><i title="Archived Adobe Flash (SWF, FLA) game. Runnable via our emulator, or, if you have Flash installed, natively."class="fa-solid fa-bolt"></i></font></i>&nbsp;&nbsp;<font color="#357EC7 "><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font>&#160;&#160;<i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a></div>
                                                        <div class="game-card__users">
                                                            
                                                        </div>
                                                    <div class="game-card__rating-and-price">
                                                        <div class="game-card__price" style="float:right!important"><a href="./games/gothitas-portrait-panic/play/details"><button  style="width:30px!important;height:35px!important;background-color:#5e9c00" title="Play it now for free!" class="uk-button uk-button-primary uk-width-2-2"><i class="fa-solid fa-circle-play"></i></button></a></div>
                                                    </div>
                                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="swiper-slide">
                                        <div class="game-card">
                                            <div class="game-card__box">
                                                <div class="game-card__media"><a href="./games/gothitas-portrait-panic/play/details"><img src="./games/gothitas-portrait-panic/files/image.png" alt="Featured image: Gothita's Portrait Panic" title="Featured image" /></a></div>
                                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">Gothita's Portrait Panic</a>
                                                    <div class="game-card__genre">The Pokémon Company</div>
                                                    <div class="game-card__bottom">
                                                        <div class="game-card__platform"><a href="/sort/type/flash"><font color="#fff"><font color=" #039487"><i class="fa fa-check-circle" title="Uploaded by yEAh Games staff."></i></font>&#160;&#160;<font color="#FDD023"><i title="Archived Adobe Flash (SWF, FLA) game. Runnable via our emulator, or, if you have Flash installed, natively."class="fa-solid fa-bolt"></i></font></i>&nbsp;&nbsp;<font color="#357EC7 "><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font>&#160;&#160;<i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a></div>
                                                        <div class="game-card__users">
                                                            
                                                        </div>
                                                    <div class="game-card__rating-and-price">
                                                        <div class="game-card__price" style="float:right!important"><a href="./games/gothitas-portrait-panic/play/details"><button  style="width:30px!important;height:35px!important;background-color:#5e9c00" title="Play it now for free!" class="uk-button uk-button-primary uk-width-2-2"><i class="fa-solid fa-circle-play"></i></button></a></div>
                                                    </div>
                                                 
                                                    </div>
                                                
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
{% include body2.html %}