---
---
<!DOCTYPE html>
<html lang="en">
    <title>The yEAh Games Arcade: Play games online, for free</title>
    <meta name="description" content="Play HTML5, Flash, Gameboy, and retro games in your browser, online, unblocked, for free, with zero ads."

{% include head.html %}

{% include body1.html %}
<main class="page-main">
    <div class="uk-grid uk-child-width-1-6@xl uk-child-width-1-4@l uk-child-width-1-3@s uk-flex-middle uk-grid-small" data-uk-grid>
        {% assign random_posts = site.posts | sample: 12 %}
        {% for post in random_posts | limit: 12 %}

        <div>
                                        <div class="swiper-slide">
                                            {% include swiper-slide.html %}
                                        </div>
        </div>
        {% endfor %}
    </div>
<br>
<br>
    <center>
        <a href="/sort/all"><button class="uk-button uk-button-danger uk-width-1-2" style="color:#ffff" type="button"><i class="fa-solid fa-gamepad"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:bolder">BROWSE ALL GAMES</span></button></a>
        </center>
</main>
{% include body2.html %}