{% if post.categories contains 'flash' or post.categories contains 'as3g' or post.categories contains 'as3b' %}https://flash.g.arcade.yeahgames.net/published/{{post.gid}}{% if post.alt %}/{{post.edition}}{% endif %}/files/image.png{% endif %}
                                   
{% if post.categories contains 'nds' %}https://nds.g.arcade.yeahgames.net/published/{{post.gid}}{% if post.alt %}/{{post.edition}}{% endif %}/image.png{% endif %}

{% if post.categories contains 'mame' %}https://mame.g.arcade.yeahgames.net/published/{{post.gid}}{% if post.alt %}/{{post.edition}}{% endif %}/image.png{% endif %}

{% if post.categories contains 'snes' %}https://snes.g.arcade.yeahgames.net/published/{{post.gid}}{% if post.alt %}/{{post.edition}}{% endif %}/image.png{% endif %}

{% if post.categories contains 'n64' %}https://n64.g.arcade.yeahgames.net/published/{{post.gid}}{% if post.alt %}/{{post.edition}}{% endif %}/image.png{% endif %}

{% if post.categories contains 'gb' %}https://gb.g.arcade.yeahgames.net/published/{{post.gid}}{% if post.alt %}/{{post.edition}}{% endif %}/image.png{% endif %}

{% if post.categories contains 'gba' %}https://gba.tools.player.yeahgames.net/published/{{post.gid}}{% if post.alt %}/{{post.edition}}{% endif %}/image.png{% endif %}

