{% if item == "approved" %}<a href="/sort/cat/approved"><font color="#039487"><i title="Uploaded and reviewed by yEAh Games staff." class="fa-solid fa-check-circle"></i></font></a>&nbsp;{% endif %}

{% if item == "as3b" %}<a href="/sort/type/flash"><font color="#DC3545"><i title="Archived ShockWave Flash game, written in ActionScript3. This ActionScript3 game has been marked as broken when used with the in-browser JavaScript emulator; this doesn't always mean the game doesn't work, it may just mean some components are broken. To resolve this possible, download our browser plug-in from the Tools sidebar in order to run flash natively." class="fa-solid fa-bolt"></i></font></a>&nbsp;{% endif %}

{% if item == "as3g" %}<a href="/sort/type/flash"><font color="#00ab66"><i title="Archived ShockWave Flash game, written in ActionScript3. This game has been marked as working when used with the in-browser JavaScript emulator; there should be no issues." class="fa-solid fa-bolt"></i></font></a>&nbsp;{% endif %}

{% if item == "flash" %}
<a href="/sort/type/flash"><font color="#FDD023"><i title="Archived Adobe Flash game written that can be run using an in-browser JavaScript emulator." class="fa-solid fa-bolt"></i></font></i></a>&nbsp;
{% endif %}

{% if item == "gba" %}
<a href="/sort/type/gba"><font color="#9a2257"><i class="fa-solid fa-chess-king" title="Gameboy Advanced games that are able to be emulated using our in-browser JavaScript emulator. Click 'help' to learn the controls."></i></font></a>&nbsp;
{% endif %}

{% if item == "nds" %}
<a href="/sort/type/nds"><font color="#a5d749"><i class="fa-solid fa-laptop" title="Nintendo DS games that are able to emulated using our in-browser JavaScript emulator. Click 'help' to learn the controls."></i></font></a>&nbsp;
{% endif %}

{% if item == "mame" %}
<a href="/sort/type/arcade"><font color="#ae7138"><i class="fa-solid fa-gear" title="Nintendo DS games that are able to emulated using our in-browser JavaScript emulator. Click 'help' to learn the controls."></i></font></a>&nbsp;
{% endif %}

{% if item == "universal" %}
<a href="/sort/cat/universal"><font color="#357EC7"><i class="fa fa-globe" title="Compatible with all browsers (tested down to IE 7).)"></i></font></a>&nbsp;
{% endif %}

{% if item == "safe" %}
<a href="/sort/cat/safe"><font color="#fff"><i class="fa-solid fa-shield" title="Suitable for all ages."></i></font></a>
{% endif %}




<!--AS3 original message: Archived Adobe Flash (SWF, FLA) game, written in ActionScript3. Unlike ActionScript and ActionScript2 games, they often don't work with our in-browser JavaScript emulator (at least, until ActionScript3 gains support). They may work, but if they don't, you can download our desktop FlashEm plug-in from the tools menu in the sidebar.-->