<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Full-screen player</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
        }
        object {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <object type="application/x-shockwave-flash" data="https://player.yeahgames.net/games/zorua-and-zoroarks-puzzle-pack/files/game.swf"></object>
</body>
</html>
