
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="https://cdn.yeahgames.net/img/branding/logos/default/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/libs.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <meta name="description" content="Play games online, unblocked, and completely for free. Emulate Flash games & play modern HTML5 games anywhere.">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">

<style>
.featuredslide1 {aspect-ratio: 790 / 213;}
  /* Set the style of the overlay */
  #overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  /* Set the style of the close button */
  .close-btn1 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Set the style of the iframe */
  #myIframe1 {
    width: 100%;
    height: 100%;
    border: none;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  /* Set the style of the close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Set the style of the iframe */
  #myIframe {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>

<body class="page-home" onload="DarkTheme()">

    <script type="text/javascript">
        function DarkTheme() {
            document.getElementsByTagName('body')[0].classList.toggle("dark-theme");
        ;
    }
    </script>


    <!-- Loader-->
    <div id="page-preloader">
        <div class="preloader-1">
            <div class="loader-text">Loading</div>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
        </div>

    </div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <header class="page-header">
            <div class="page-header__inner">
                <div class="page-header__sidebar">
                    <div class="page-header__menu-btn"><button class="menu-btn ico_menu is-active"></button></div>
                    <div ><a href="https://www.yeahgames.net"><img width="150px" src="//cdn.yeahgames.net/img/branding/logos/text/red.png" title="yEAh" alt="logo"></a>&#160;&#160;<a href="https://games.yeahgames.net"><font size="+1"color="#5e9c00"><i title="Games Player" class="fa-solid fa-circle-play"></i></a></font><span class="page-header__logo_text"></span></div>
                </div>
                <div class="page-header__content">
                    <div class="page-header__search">
                        <div class="search">

                        </div>
                    </div>
                    <div class="page-header__action">

                        <a href="#modal-report" data-uk-toggle><font color="#fff"><i class="fa-solid fa-circle-user"></i></a>
                    </div></font>
                </div>
            </div>
        </header>
        <div class="page-content">
            <aside class="sidebar is-show" id="sidebar">
                <div class="sidebar-box">
                    <ul class="uk-nav">
                        <li class="uk-active"><a href="index.html"><i class="fa fa-home"></i>&nbsp;<span>Home</span></a></li>
                        <li class="uk-nav-header">TYPES</li>

                        <li title="Games are published & playable using HTML5, the safe & modern web standard for interactive elements."><a href="/sort/type/html5"><font color="#e34c26"><i class="fa-brands fa-html5"></i></font>&nbsp;<span>HTML5</span></a></li>
                        <li title="Games are published using the now-deprecated Adobe Flash (SWF & FLA files), but are able to be run using a safe client-side emulator."><a href="/sort/type/flash"><font color="#FDD023"><i class="fa-solid fa-bolt"></i></font>&nbsp;<span>Flash<sup>&#160;Emulated</sup></span></a></li>
                      
                        <li class="uk-nav-header">CATEGORIES</li>
                        <li title="Games developed by yEAh Games."><a href="/sort/cat/yeah"><font color="#ff4747"><i class="fa-solid fa-circle-check"></i></font>&nbsp;<span>yEAh games</span></a></li>
                        <li title="Games were thoroughly reviewed, repaired and polished by yEAh staff before being uploaded."><a href="/sort/cat/approved"><font color="#039487"><i class="fa-solid fa-circle-check"></i></font>&nbsp;<span>Approved games</span></a></li>
                        <li title="Games created by yEAh members, using our Game Creator tool. They have not necessairly been reviewed."><a href="/sort/cat/ugc"><font color="#f8a2ab"><i class="fa-solid fa-user"></i></font>&nbsp;<span>User-created games</span></a></li>
                        <li title="Games playable on all browsers and devices (tested down to the long-deprecated IE7)."><a href="/sort/cat/universal"><font color="#357EC7"><i class="fa-solid fa-globe"></i></font>&nbsp;<span>Universal games</span></a></li>
                        <li title="Games safe for all ages."><a href="/sort/cat/safe"><i class="fa-solid fa-shield"></i>&nbsp;<span>Safe games</span></a></li>

                        <li class="uk-nav-header">TOOLS</li>
                        <li title="Use the yEAh FlashEM (Beta) emulator tool to emulate Adobe Flash (SWF, FLA) files that your browser doesn't support anymore. Paste in a link, and we'll do the rest. This is nowhere near perfect."><a href="https://flash.play.games.yeahgames.net"><font color="#ff4747"><i class="fa-solid fa-flask"></i></font>&nbsp;<span>Flash emulator&#160;<sup>Beta</sup></span></a></li>
                        <li title="Create your own modern HTML5 in our interactive visual editor. (UNRELEASED: DEVENV)"><a href="https://create.games.yeahgames.net"><font color="#ffdf00 "><i class="fa-solid fa-palette"></i></font>&nbsp;<span>Game creator&#160;<sup>Dev</sup></span></a></li>
                        <li title="A library collection for archiving material relating to Games on yEAh Games; this includes, rules, tactics, history, etc."><a href="https://archive.games.yeahgames.net"><font color="#9eccdf"><i class="fa-solid fa-archive"></i></font>&nbsp;<span>Games archive</span></a></li>
                        <li title="Show a fake Google Doc overlay."><a onclick="showOverlay()"><font color="#4285F4"><i class="fa-solid fa-file-invoice"></i></font>&nbsp;<span>Doc overlay</span></a></li>


                    </ul>
                </div>
            </aside>


            <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Overlay Example</title>

<div id="overlay1">
  <iframe id="myIframe1" allowfullscreen></iframe>
  <span class="close-btn1" onclick="hideOverlay()">&times;</span>
</div>


<script>
  function showOverlay() {
    // Show the overlay and set the source of the iframe
    document.getElementById("overlay1").style.display = "flex";
    document.getElementById("myIframe1").src = "/assets/overlays/docs/doc1";
  }

  function hideOverlay() {
    // Hide the overlay and reset the source of the iframe
    document.getElementById("overlay1").style.display = "none";
    document.getElementById("myIframe1").src = "";
  }
</script>

