---
---
<!DOCTYPE html>
<html lang="en">
<title>Sort: Edition: USA • Search | yEAh Arcade</title>

{% include head.html %}

{% include body1.html %}
<main class="page-main">
    {% include searchwidget.html %}
    <div class="uk-grid uk-child-width-1-6@xl uk-child-width-1-4@l uk-child-width-1-3@s uk-flex-middle uk-grid-small" data-uk-grid>
        {% assign sorted_posts = site.posts | where_exp: "post", "post.edition contains 'us'" | sort_natural: 'title' %}
        {% for post in sorted_posts %}
        <div>
            {% include swiper-slide.html %}                                
        </div>
        {% endfor %}
    </div>
</main>
{% include body2.html %}